 <div class="hero ">
 <div class="bg">
  <img class="hero__background hide" src="" id='pet-image'>
  </div>

</div>
<div class="match-panel hide" id='match-panel'>
  <div class="row">
     <div class="row intro match-details ">
  <a href='#' class='button tiny right radius' data-reveal-id="sign-in-modal">Sign in to favorite</a>
    <h2>
    Meet <span id='pet-name' >ME!</span></h2>

    <div class="medium-8 left match-content">
      <h3>My story</h3>
      <p>
          <span id="pet-bio">story</span>
      </p>
            <a href='#' class='button radius' data-reveal-id="shelter-modal"> Contact Shelter </a>
    </div>
    <div class="medium-4 right match-side">

      <table class='match-details right'>
      <tr><th>Match</th>
      <td>95%</td></tr>
        <tr>
          <th>Breed</th>
          <td><span id="pet-breed">breed</span></td>
        </tr>
        <tr>
          <th>Sex</th>
          <td><span id="pet-sex">sex</span></td>
        </tr>
        <tr>
          <th>Color</th>
          <td><span id="pet-color">color</span></td>
        </tr>
        <tr>
          <th>Size</th>
          <td><span id="pet-size">size</span></td>
        </tr>
        <tr>
          <th>Energy</th>
          <td><span id="pet-energy">energy</span></td>
        </tr>
      </table>
    </div>

  </div>

  </div>
</div>