 <div class="hero ">
 <div class="bg">
  <img class="hero__background hide" src="" id='pet-image'>
  </div>

</div>
<div class="match-panel hide" id='match-panel'>
  <div class="row">
     <div class="row intro match-details ">
  <a href='#' class='button tiny right radius' data-reveal-id="sign-in-modal" id='add-favorite'>add to favorites</a>
    <h2>
    Meet <span id='pet-name' >ME!</span></h2>

    <div class="medium-8 left match-content">
      <h3>My story</h3>
      <p>
          <span id="pet-bio">story</span>
      </p>
            <a href='#' class='button radius' data-reveal-id="shelter-modal"> Contact Shelter </a>
    </div>
    <div class="medium-4 right match-side">

      <table class='match-details right'>
        <tr>
          <th>Breed</th>
          <td><span id="pet-breed">breed</span></td>
        </tr>
        <tr>
          <th>Sex</th>
          <td><span id="pet-sex">sex</span></td>
        </tr>
        <tr>
          <th>Color</th>
          <td><span id="pet-color">color</span></td>
        </tr>
        <tr>
          <th>Size</th>
          <td><span id="pet-size">size</span></td>
        </tr>
        <tr>
          <th>Energy</th>
          <td><span id="pet-energy">energy</span></td>
        </tr>
      </table>
    </div>

  </div>

  </div>
</div>
<div id="shelter-modal" class="reveal-modal" data-reveal aria-labelledby="shelter-modal" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">You can find me at <span id="shelter-name"></span> </h2>
  <p class="lead " id='shelter-address' ></p>
   <%= text_field_tag :user_name, nil, placeholder: "Your Name" %>
   <%= text_field_tag :user_email, current_user.try(:email), placeholder: "Your Email" %>
   <%= text_area_tag :bio, nil, placeholder: "Tell us about your self" %>
   <%= link_to "Send!", "#", class: 'button', id:'send' %>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
