 <main class='pet-home content row'>
<h1>Welcome to Best Friends Finder</h1>
    <%= render 'questions' %>

</main>
    <%= render 'match' %>
<script type="text/javascript">
    $(document).ready(function(){
        var PetModel = function(){

        }
         var FormView = function(){
            this.form = document.querySelector('form.match');
            this.petView = document.querySelector('#match-panel');
            this.formPanels = [];
            this.initialize();
            this.currentPanel = 0;
            this.api = new PetAPI();
            this.pets = [];
            this.currentPetIndex=  0;

        }

        //Welcome to Jquery Soup
        //You should have picked the salad
        FormView.prototype.initialize = function(){
            var panels = this.form.querySelectorAll('div.panel');
            var totalPanels = panels.length;
            for (var i = 0; i < totalPanels; i ++){
                panels[i].style.display ='none';
                this.formPanels.push(panels[i]);
                var labels = panels[i].querySelectorAll('label');
                    for(var l = 0; l < labels.length; l++){
                        labels[l].addEventListener('click', this.nextPage.bind(this));
                    }
            }
            this.formPanels[0].style.display = 'block';
            var startButton =  this.form.querySelector('button#start');
            if(startButton)
                startButton.addEventListener('click', this.nextPage.bind(this));
        }
        FormView.prototype.nextPage = function(event){
            if(event.target.tagName.toLowerCase() === 'button')
                event.preventDefault();

            this.formPanels[this.currentPanel].style.display = 'none'
            this.currentPanel +=1;
            if (this.currentPanel >= this.formPanels.length){
                this.currentPanel = 0;
                this.submitSearch();
            }
            else{
                this.formPanels[this.currentPanel].style.display = 'block';

            }
        }
        FormView.prototype.submitSearch = function(){
            console.log(this.form.pet_type.value);
            console.log(this.form.sex.value);
            console.log(this.form.size.value);
            console.log(this.form.pet_personality.value);
            this.api.pet_type = this.form.pet_type.value;
            this.api.sex = this.form.sex.value;
            this.api.size =  this.form.size.value;
            this.api.pet_personality = this.form.pet_personality.value;
            this.api.fetch( this.showPets.bind(this) );
        }
        FormView.prototype.showPets = function(pets){
            document.querySelector('main').style.display = 'none';
            this.pets = pets;
            var pet = pets[this.currentPetIndex];
            this.renderPet(pet);

        }
        FormView.prototype.renderPet = function(pet){
            console.log(pet);
            //so sorry for all this mess
            this.setPetField('pet-name', pet.name);
            this.setPetField('pet-bio', pet.bio);
            this.setPetField('pet-breed', pet.breed);
            this.setPetField('pet-sex', pet.sex);
            this.setPetField('pet-color', pet.color);
            this.setPetField('pet-size', pet.size);
            this.setPetField('pet-energy', pet.energy);
            document.getElementById('pet-image').src = pet.picture_url;
            this.turnOnPetView();
            this.petView.querySelector("#add-favorite").addEventListener('click', this.saveFavorite.bind(this));
            this.shelterModal();
        }

        FormView.prototype.setPetField = function (id, value){
            this.petView.querySelector("#" + id).innerHTML = value;
        }
        FormView.prototype.turnOnPetView = function(){
            $('#pet-image').fadeIn(800);
            $(this.petView).fadeIn(1000);
        }
        FormView.prototype.shelterModal = function(){
            var modal = document.getElementById('shelter-modal');
            var sendButton = modal.querySelector('#send');
            sendButton.addEventListener('click',function(){
                $('#shelter-modal').foundation('reveal', 'close');
            });
        }
        FormView.prototype.saveFavorite = function(event){
            event.preventDefault();
            this.api.addToFavorites(this.pets[this.currentPetIndex].id, this.addedFavorite.bind(this));
        }
        FormView.prototype.addedFavorite = function(response){

            document.getElementById('favorites-count').innerText = 'Favorites (' + response+')'
            this.petView.querySelector("#add-favorite").style.display = 'none';
            this.petView.querySelector("#added-favorite").style.display = 'block';
        }




        var PetAPI = function(type, sex, size, personality){
            this.pet_type = type;
            this.sex = sex;
            this.size = size;
            this.pet_personality = personality;
        }

        PetAPI.prototype.fetch = function (callback){
         $.ajax({
             type: 'POST',
                data: {pet_type:this.type, size: this.size, sex: this.sex, personality: this.pet_personality },
                dataType: 'json',
                url: "/matches/find.json",
                context: this
            }).done(function(response) {
               var results = []
               for (var i = 0; i < response.length ; i++){
                var  item = response[i];
                var newPet = new PetModel();
                for (var prop in item){
                    newPet[prop] = item[prop];
                }
                results.push(newPet);
               }
               callback(results);
            }).fail(function(response){
                console.log("js failed to load")
            })
        }
        PetAPI.prototype.addToFavorites = function (petID,callback){
            //refactor these methods to seprate API method
            $.ajax({
             type: 'POST',
                data: {pet:{id: petID}},
                dataType: 'json',
                url: "/favorites",
                context: this
            }).done(function(response){
                  console.log(response)
                if(callback)
                    callback(response);
            }).fail(function(response){
                console.log(response);
            })

        }

        var questionForm = new FormView();

    });



</script>