 <main class='pet-home content row'>
<h1>Welcome to Best Friends Finder</h1>
    <%= render 'questions' %>

</main>
    <%= render 'match' %>
<script type="text/javascript">
    $(document).ready(function(){
         var FormView = function(){
            this.form = document.querySelector('form.match');
            this.petView = document.querySelector('#match-panel');
            this.formPanels = [];
            this.initialize();
            this.currentPanel = 0;

        }

        //Welcome to Jquery Soup
        //You should have picked the salad
        FormView.prototype.initialize = function(){
            var panels = this.form.querySelectorAll('div.panel');
            var totalPanels = panels.length;
            for (var i = 0; i < totalPanels; i ++){
                panels[i].style.display ='none';
                this.formPanels.push(panels[i]);
                var labels = panels[i].querySelectorAll('label');
                    for(var l = 0; l < labels.length; l++){
                        labels[l].addEventListener('click', this.nextPage.bind(this));
                    }
            }
            this.formPanels[0].style.display = 'block';
            var startButton =  this.form.querySelector('button#start');
            if(startButton)
                startButton.addEventListener('click', this.nextPage.bind(this));
        }
        FormView.prototype.nextPage = function(event){

            this.formPanels[this.currentPanel].style.display = 'none'
            this.currentPanel +=1;
            if (this.currentPanel >= this.formPanels.length){
                this.currentPanel = 0;
                this.submitSearch();
            }
            else{
                this.formPanels[this.currentPanel].style.display = 'block';
                event.preventDefault();
            }
        }
        FormView.prototype.submitSearch = function(){
            PetModel.fetch("", this.showPets.bind(this) );
        }
        FormView.prototype.showPets = function(pets){
            document.querySelector('main').style.display = 'none';
            var pet = pets[0];
            var petView = document.getElementById('match-panel');
            //so sorry for all this mess
            this.setPetField('pet-name', pet.name);
            this.setPetField('pet-bio', pet.bio);
            this.setPetField('pet-breed', pet.breed);
            this.setPetField('pet-sex', pet.sex);
            this.setPetField('pet-color', pet.color);
            this.setPetField('pet-size', pet.size);
            this.setPetField('pet-energy', pet.energy);
            document.getElementById('pet-image').src = pet.picture_url;
            this.turnOnPetView();
        }
        FormView.prototype.setPetField = function (id, value){
            this.petView.querySelector("#" + id).innerHTML = value;
        }
        FormView.prototype.turnOnPetView = function(){
            $('#pet-image').fadeIn(800);
            $(this.petView).fadeIn(800);
        }

        var PetModel = function(){

        }
        PetModel.fetch = function (petQuery, callback){
         $.ajax({
             type: 'POST',
                data: {pet_type: 'cat', size: 'medium' },
                dataType: 'json',
                url: "/matches/find.json",
                context: this,
                headers: {'authenticity_token': $('meta[name="csrf-token"]').attr('content')}
            }).done(function(response) {
               var results = []
               for (var i = 0; i < response.length ; i++){
                var  item = response[i];
                var newPet = new PetModel();
                for (var prop in item){
                    newPet[prop] = item[prop];
                }
                results.push(newPet);
               }
               callback(results);
            }).fail(function(response){
                console.log("js failed to load")
            })
        }


        var questionForm = new FormView();


    });



</script>